*{
    box-sizing:border-box;
}
/* FUENTE DE LETRA DEL BODY */
body{
font-family: 'Poppins', sans-serif;;
width:100%;
}
h1,h2,p{
    font-weight:bold;
}

/* Clase para poner COLOR a un TITULO */
.algomas{
    color: chocolate;
}
/*Tamaño del Logo */
.logo{
    width:75px;
    height:85px;

}
/*Clase de boostrap imagen corte pequeñ */
/* .card{
    border-top-left-radius: 34px;
    border-top-right-radius: 60px;
    border-bottom-right-radius: 18px;
    border-bottom-left-radius: 34px;
}
.card-img-top{
    border:dashed 1px blue;
    border-top-left-radius: 34px;
    border-top-right-radius: 60px;
    border-bottom-right-radius: 18px;
    border-bottom-left-radius: 34px;
} */
/*mover Imagen */
.imaghover:hover{
    -webkit-transform:scale(1.1);
    -moz-transform:scale(1.1);
    -o-transform:scale(1.1);
    -ms-transform:scale(1.1);
    transform:scale(1.1)
}
/*Es un pseudoelemnto para cambiar de color LOS LINK a
mover puede cambiar la LETRA de los LINK */
.mover{
    color:white;
    padding:5px;
}

/*TODOS LOS DIV DEBEN SER EN LINEA */
nav{
    border-radius:10px;
    position: fixed;
    height: 100%;
    box-shadow: 1px 1px 1px 1px rgb(254,255,255);
}
/* ARTICULO SOMOS */
.article_somos{
    text-align: center;
    border-radius: 10px;
    box-shadow: 4px 4px 4px 4px #000;
    transform:rotate(0deg);
}
/* FORMULARIO DEL EJERCICIO*/
.form_principal{
    display:inline-block;
    border-radius:20px;
    border:dashed 1px blue;
    margin-right:20px;
}
/*IMPUT DEL FORMULARIO */
.block1,input{
    display:block;
}

.margen_boton_enviar{
    margin-top: 10px;
}
/*Configuracion del fondo del formulario en contacto.html  */
section.fondo_formulario{
    background:#e6dcd4;
    border:dotted 1px;
    border-radius:5px;
}
/* FORMULARIO DEL EJERCICIO*/
.form_principal{
    display:block;
    border: 2px double;
    box-shadow:1px 0px 13px 0px rgba(30, 125, 204, 0.72);
    margin-right:10px;
    margin-left:10px;
    padding:5px;
    border-radius:5px;
}
/*IMPUT DEL FORMULARIO */
.block1,input{
    display:block;
}
/* CONFIGURACION DEL FOOTER DEL FOOTER */
footer p{
    color: rgb(255, 255, 255);
    }
/* CONFIGURACION DEL FOOTER */
.footer_config{
    margin: 20px;
    border-radius: 10px;
    box-shadow: 1px 2px 1px 1px #000;
    background-color:rgb(40,52,59);
}
/* CONFIGURACION DEL MARGEN DEL PIE DE PAGINA EN PARRAFO(p) */
.footer_config,p{
    margin:10px;
}
.footerfechareloj{
    color:white;
}
/* CONFIGURACIÓN DE CARUSELS BOTONES */
.colores{
    background-color:rgb(35,64,127);
    border-radius:25px;
    box-shadow:0px 4px 12px 0px rgba(219, 229, 244, 0.75);
    border: 1px double;
}

.ClaseImagenesSlider{
    border-radius: 25px;
    border-bottom-left-radius: 90px;
    border:dashed 1px blue;
    width:100%;
    height:50%;
}

.ir-arriba {
	display:none;
	padding:15px;	
    background: rgb(84,163,238); /* Old browsers */
    background: -moz-linear-gradient(45deg,  rgba(84,163,238,1) 50%, rgba(54,144,240,1) 51%, rgba(30,105,222,1) 72%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg,  rgba(84,163,238,1) 50%,rgba(54,144,240,1) 51%,rgba(30,105,222,1) 72%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg,  rgba(84,163,238,1) 50%,rgba(54,144,240,1) 51%,rgba(30,105,222,1) 72%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#54a3ee', endColorstr='#1e69de',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	font-size:20px;
	color:#fff;
	cursor:pointer;
	position: fixed;
	bottom:20px;
	right:20px;
    border-radius:20px;
    border:1px double white;   
}

